<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pleasant Valley Chess Club</title>
</head>
<body>
    {% block content %}
    <form method = "POST" action = ''>
        <!-- <div class = "form-group">
            <label for="username">Username:</label><br>
            <input type="text", placeholder="Username", name="username">
        </div>

        <div class = "form-group">
            <label for="password">Password:</label><br>
            <input type="password", placeholder="Password", name="password">
        </div>

        <div class = "form-group">
            <label for="email">Email:</label><br>
            <input type="email", placeholder="Email", name="email">
        </div>

        <div class = "form-group">
            <input type="submit", value="Submit">
        </div> -->

        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}
        {{ form.email }}
        {{ form.subscribe }}

    </form>
    {% endblock %}
</body>
</html>